
td {
    padding: 1rem 0.5rem  !important;
    /*padding: 0.75rem 0.5rem   !important;*/
}
.calender_filler{
    /*background-color: lightgray;*/
}
.calender_date:hover{
    background-color: cornflowerblue;
    color:#ffffff;
    cursor:pointer;
}
.selected{
    background-color: cornflowerblue !important;
    color:#ffffff;
}
.finger{
    cursor:pointer;
}

.block_out{
    background-color: lightgray;
    cursor: not-allowed !important;
}
.offday{
    background-color: lightgray;
    cursor: not-allowed !important;
}

.calender_today{
    background-color: green !important;
    color:#FFFFFF;
}

.modal-body form  input[type="text"] {
    border-radius: 0 !important;
}
.modal-dialog{
    max-width: 600px;
}
.modal-header{
    border-top-right-radius:0;
    border-top-left-radius:0;
    color:#FFFFFF;
    background-color:#31628D;
    /*background-image:radial-gradient( #007CBF, #005F92 )!important;*/
    background-image:linear-gradient(to right, #007CBF, #005F92 )!important;
}
.modal-header button{
    color:#FFFFFF!important;
}
